<!--
  Generated template for the NextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>next</ion-title>
  </ion-navbar>
  <!-- <button ion-button (click)="openTodoAlert()">
     		<ion-icon name="add"></ion-icon>
     	</button> -->
</ion-header>


<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)">
  	<ion-item-sliding *ngFor="let todo of todos">
  	<ion-item>{{todo}}</ion-item>
  	<ion-item-options side="right">
  	<button color="danger" ion-button>
  		<ion-icon name="trash"></ion-icon>
  	</button>
  	</ion-item-options>
  	</ion-item-sliding>

  </ion-list>
  <ion-card>
    <ion-list inset>
      <ion-item *ngFor="let user of users">
         <button ion-button full name="star">{{ user.name}}</button>
      </ion-item>
      </ion-list>
  </ion-card>

</ion-content>
